:root {
  --font-base: "brandorodriguez";
}

@font-face {
  font-family: "brandorodriguez";
  src: url("/fonts/brandorodriguez.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  margin-block: 0;
  margin-inline: auto;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  max-width: 100%;
  margin-inline: auto;
}

@media (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (min-width: 96rem) {
  .container {
    max-width: 80rem;
  }
}